<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css" type="text/css" />
    <title>System Configuration</title>
</head>
<body class="bg-white w-full h-[100vh] p-0 m-0 flex flex-row">
        <%- include('components/navigation'); %>
        <div class="flex flex-col w-full">
            <%- include('components/header'); %>
            <%- include('components/toasts'); %>
            <%- include('components/modal'); %>

            <!-- content -->
             <div class="p-3 mt-5 ml-5 bg-[#ECF2F9] rounded-tl-3xl flex flex-col h-[100vh] overflow-y-scroll pb-[200px]">
                <div class="flex flex-row gap-3 pl-5 mt-5 border-b-1 border-gray-200">
                    <button id="AssistantNavBTN" type="button" class="flex flex-row gap-2 items-center py-2.5 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-blue-500 rounded-full border border-gray-200 hover:bg-blue-700 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4" fill="currentColor"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M80 104a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm80-24c0 32.8-19.7 61-48 73.3l0 87.8c18.8-10.9 40.7-17.1 64-17.1l96 0c35.3 0 64-28.7 64-64l0-6.7C307.7 141 288 112.8 288 80c0-44.2 35.8-80 80-80s80 35.8 80 80c0 32.8-19.7 61-48 73.3l0 6.7c0 70.7-57.3 128-128 128l-96 0c-35.3 0-64 28.7-64 64l0 6.7c28.3 12.3 48 40.5 48 73.3c0 44.2-35.8 80-80 80s-80-35.8-80-80c0-32.8 19.7-61 48-73.3l0-6.7 0-198.7C19.7 141 0 112.8 0 80C0 35.8 35.8 0 80 0s80 35.8 80 80zm232 0a24 24 0 1 0 -48 0 24 24 0 1 0 48 0zM80 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/></svg>
                        Assistant</button>
                    <button id="ProductNavBTN" type="button" class="flex flex-row gap-3 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-black focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-blue-700 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="w-4 h-4" fill="currentColor"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M0 488L0 171.3c0-26.2 15.9-49.7 40.2-59.4L308.1 4.8c7.6-3.1 16.1-3.1 23.8 0L599.8 111.9c24.3 9.7 40.2 33.3 40.2 59.4L640 488c0 13.3-10.7 24-24 24l-48 0c-13.3 0-24-10.7-24-24l0-264c0-17.7-14.3-32-32-32l-384 0c-17.7 0-32 14.3-32 32l0 264c0 13.3-10.7 24-24 24l-48 0c-13.3 0-24-10.7-24-24zm488 24l-336 0c-13.3 0-24-10.7-24-24l0-56 384 0 0 56c0 13.3-10.7 24-24 24zM128 400l0-64 384 0 0 64-384 0zm0-96l0-80 384 0 0 80-384 0z"/></svg>
                        Products</button>
                    <button id="mlBTN" type="button" class="hidden flex-row gap-3 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-black focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-blue-700 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4" fill="currentColor"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
                        Machine Learning</button>
                </div>

                <div id="assistant_component" class="hidden">
                    <%- include('components/assistant'); %>
                </div>
                <div id="products_component" class="hidden">
                    <%- include('components/products'); %>
                </div>
                <div id="machinelearning_component" class="hidden w-full h-full">
                    <%- include('components/machinelearning'); %>
                </div>

             </div>
        </div>
    

    <!-- forms -->
    <%- include('components/forms'); %>

    <div id="config-data"
     data-restrictions="<%= config.restrictions || '' %>"
     data-selected-restrictions="<%= config.selected_restrictions || '' %>"
     data-all-products='<%= JSON.stringify(allproducts || {}) %>'>
    </div>
     <script>
        const el = document.getElementById('config-data');
        const assistant_component = document.getElementById('assistant_component');
        const products_component = document.getElementById('products_component');
        const machinelearning_component = document.getElementById('machinelearning_component');

     </script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="/js/tf.min.js" type="text/javascript"></script>
    <!-- <script src="/js/config.js"></script> -->
    <script src="/js/product.js"></script>
    <script src="/js/mlscriptpy.js"></script>
    <script src="/js/config.js"></script>

</body>
</html>